/* CSS Document */
body{ background-color:#E0E0E0; background-image:url(../images/theme/t4/themebg.jpg);background-position:center 0px;background-repeat:no-repeat; }
a:link{color:#2965B1;text-decoration:none;}
a:visited{color:#2965B1;text-decoration:none;}
a:hover{color:#2965B1;text-decoration:underline;}
.headerBg { background:#1288B7;}
.headerNav{ color:#fff;}
.headerNav a:link {color:#fff;text-decoration:none;}
.headerNav a:hover {color:#fff;text-decoration:underline;}
.headerNav a:visited {color:#fff;text-decoration:none;}
.main{ background:url(../images/theme/t4/rightbg.gif) repeat-y right center #FFFFFF}
.top_nav2_bg { background:#c4def0}
.top_nav2 li .m_r0 a{ color:#fff;}
.person_atten_l{ border-right:#336699 1px solid}
.rightBox_t { background:url(../images/theme/t4/side_bg.gif) no-repeat 0 0 }
.sideBox .sTitle{ background:url(../images/theme/t4/side_bg.gif) no-repeat 0 0 }
.boxRNav2 li,.boxRNav2 li a{background:url(sideLb.png) 0 -126px no-repeat;}
.boxRNav2 li.current{height:34px;z-index:2;background:url(sideLb.png) 0 -90px no-repeat;}
.sendMail{ width:100%;background:url(../images/theme/t4/sideLb.png) -334px -200px no-repeat; text-indent:21px; padding-top:5px;}
.boxRNav2 li.myfav .anoTh{color:#2965B1}
.boxRNav2 li.letter .anoTf{color:#2965B1}
.boxRNav2 li.mailBox .anoTv{ color:#2965B1}
.bottomLinks{ background:#c4def0;}
.vDateBox{background:#E7F9FF; border:1px solid #A8E4FA;}